<p>data-binding works!</p>

<div class="row">
       <div class="col-4">
             One way data binding from .ts to .html
       </div>
 </div>



<div class="row">
    <div class="col-4 bg-success">
           <h3>Interpolation {{courseName}}</h3>
           <input type="text"  placeholder="{{courseName}}"/>
           <input type={{inputType}}  />
           
    </div>

    <div class="col-4">
        <h1>property binding </h1>
        <input [type]="inputType" [value]="courseName"/>
        <div [class]="primaryColor">Color by property binding </div>
        <h2>Event binding </h2>
        <button class="btn btn-primary mt-2" (click)="showAlert('Welcome angular 18')" >show me</button>
        <button class="btn btn-success" (click)="changeCourse()">Change course</button>
    </div>

    <div class="col-4">
         <h2>Two way data binding</h2>
         <input type="text" [(ngModel)]="courseName"/>---{{courseName}}
         <select [(ngModel)]="stateName">
            <option value="">select</option>
            <option value="maharashtra">maharashtra</option>
            <option value="Goa">Goa</option>
            <option value="delhi">delhi</option>
         </select>

         <h2>{{firstName()}}</h2>


    </div>


</div>

